<div class="container mt-5 mb-5 pt-5 min-vh-100">
    <main class="form-signin col-md-4 offset-md-4">
        <form>
            <div class="text-center">
                <img class="mb-4" src="assets/tiger1.png" alt="" width="200" height="200" priority>
            </div>

            <div class="form-floating mb-2">
                <input type="text" class="form-control" id="floatingFullname" placeholder="Username">
                <label for="floatingFullname">Username</label>
            </div>

            <div class="form-floating mb-2">
                <input type="email" class="form-control" id="floatingEmail" placeholder="Email">
                <label for="floatingEmail">Email</label>
            </div>

            <div class="form-floating mb-2">
                <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                <label for="floatingPassword">Password</label>
            </div>

            <div class="mt-4">
                <button class="btn btn-primary w-100 py-2" type="submit">Register</button>
            </div>
        </form>
    </main>
</div>