<header class="p-3 text-bg-dark">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a routerLink="home" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                <img src="assets/tiger1.png" width="50" height="50">
            </a>


            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a routerLink="home" class="nav-link px-2 text-white">Home</a></li>
                <li><a routerLink="product/list" class="nav-link px-2 text-white">Product</a></li>
                <li><a routerLink="category" class="nav-link px-2 text-white">Category</a></li>
                <li><a routerLink="user" class="nav-link px-2 text-white">User</a></li>
            </ul>

            <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
                <input type="search" class="form-control " placeholder="Search" aria-label="Search">
            </form>

            <div class="text-end">
                <a routerLink="cart" class="text-white me-3">
                    <i class="bi bi-cart" style="font-size: 1.5rem;"></i>
                </a>
                <a routerLink="favorite" class="text-white me-3">
                    <i class="bi bi-heart" style="font-size: 1.5rem;"></i>
                </a>
                @if (isUserLoggedIn) {
                <button type="button" class="btn btn-danger mx-2" (click)="logout()">Logout</button>
                }
                @else{
                <button type="button" class="btn btn-success mx-2" (click)="gotoLogin()">Login</button>
                }

                <!-- <button type="button" class="btn btn-success mx-2" routerLink="login">Login</button> -->
                <button type="button" class="btn btn-primary" routerLink="register">Register</button>
            </div>
        </div>
    </div>
</header>