<div class="container mt-4" *ngIf="!loading">
  <h2>Product Detail</h2>
  
  <div *ngIf="errorMessage" class="alert alert-danger">{{ errorMessage }}</div>

  <div *ngIf="product">
      <div class="card">
          <div class="card-header">
              <h3>{{ product.name }}</h3>
          </div>
          <div class="card-body">
              <p><strong>ID:</strong> {{ product.id }}</p>
              <p><strong>Price:</strong> {{ product.price | currency: 'THB':'symbol-narrow' }}</p>
              <p><strong>Description:</strong> {{ product.description }}</p>
              <p><strong>Category:</strong> {{ product.catalogName }}</p>
          </div>
      </div>
      
      <!-- ปุ่มจัดการรายการโปรด -->
      <button class="btn my-3" [ngClass]="isFavorite ? 'btn-danger' : 'btn-outline-primary'" (click)="toggleFavorite()">
          <i class="bi" [ngClass]="isFavorite ? 'bi-heartbreak' : 'bi-heart'"></i> 
          {{ isFavorite ? 'Remove' : 'Add' }}
      </button>
  </div>

  <div class="mt-4">
      <button class="btn btn-secondary" routerLink="/product/list">Back to Product List</button>
  </div>
</div>
