<div class="container d-flex justify-content-center align-items-center min-vh-100">
    <p-card class="w-50 col-md-6">

        <ng-template pTemplate="header">
            <div class="text-center text-2xl pt-3">
                <span>Login</span>
            </div>
        </ng-template>

        <form [formGroup]="loginForm" (ngSubmit)="loginUser()">
            <div class="formgrid grid">

                <!-- Email Field -->
                <div class="field col-12 mt-3">
                    <label for="email" class="form-label">Email</label>
                    <input pInputText id="email" type="email" formControlName="email" class="w-full" />

                    <!-- Validation Messages for Email -->
                    <div *ngIf="validateControl('email')">
                        <small class="text-red-500 font-italic" *ngIf="hasError('email', 'required')">Email is
                            required.</small>
                        <small class="text-red-500 font-italic" *ngIf="hasError('email', 'email')">Email is
                            incorrect.</small>
                    </div>
                </div>

                <!-- Password Field -->
                <div class="field col-12 mt-3">
                    <label for="password" class="form-label">Password</label>
                    <input pPassword id="password" type="password" formControlName="password" feedback="false" class="w-full" />

                    <!-- Validation Messages for Password -->
                    <div *ngIf="validateControl('password')">
                        <small class="text-red-500 font-italic" *ngIf="hasError('password', 'required')">Password is required.</small>
                    </div>
                </div>

                <!-- Submit Button -->
                <div class="field col-12 mt-3 text-center">
                    <button pButton type="submit" label="Submit" [disabled]="loginForm.invalid" [loading]="isProcessing"
                        class="w-full md:w-4"></button>
                </div>
            </div>
        </form>

        <ng-template pTemplate="footer">
            <div class="grid">
                <div class="col-6">
                    <span><a [href]="'/account/forgotpassword?returnUrl=' + returnUrl">Forgot password?</a></span>
                </div>
                <div class="col-6 text-right">
                    <span><a [href]="'/account/register?returnUrl=' + returnUrl">New account?</a></span>
                </div>
            </div>
        </ng-template>

    </p-card>
</div>