<div class="mt-5 py-5 text-center bg-light rounded shadow-sm">
    <img class="d-block mx-auto mb-4" src="assets/tiger1.png" alt="Good Day Shop Logo" width="300" height="300">
    <h1 class="display-5 fw-bold text-body-emphasis">Welcome to Good Day Shop</h1>
    <div class="col-lg-8 mx-auto">
        <h2 class="text-body-emphasis mt-4">Your Ultimate Destination for Electronics!</h2>
        <p class="lead text-muted mb-4">At <strong>Good Day Shop</strong>, we are dedicated to bringing you the latest
            and greatest in technology. Whether you're looking for a new smartphone, a powerful notebook, an innovative
            iPad, or a variety of accessories, we have everything you need to stay connected and productive.</p>

        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <button type="button" class="btn btn-primary btn-lg px-4 gap-3">Get Started</button>
        </div>
    </div>

</div>